{% extends "ontology_app/html_base.html" %}
{% load i18n static %}
{% block content %}
    <div class="ui main container">
        <h1 class="ui header">PyComplex</h1>
        <h3 class="ui header">Acesse sua ontologia em formato JSON</h3>
        <p>PyComplex é um serviço online para lidar com ontologias. Esse serviço possibilita a publicação de ontologias na
        internet. Uma vez publicada a ontologia, será possível acessar os recursos no formato JSON</p>
        <div class="ui bulleted list">
            <div class="ui item header">
                {% if user.is_authenticated %}
                Crie uma conta
                {% else %}
                <a href="{% url 'core_app:singup' %}" >Crie uma conta</a>
                {% endif %}
            </div>
            <div class="item">
                <a href="{% url 'ontology_app:OntologyCreate' %}" class="ui header">Publique sua ontologia</a>
            </div>
            <div class="item">
                <div>
                    <div class="ui header">Acesse o conteúdo da ontologia pelo seguintes endpoints:</div>
                </div>
                <div class="list">
                    <div class="item">
                        <div class="ui header">/subclasses</div>
                        <p>O endpoint <i>/subclasses</i> retorna um array com as subclasses de uma classe específica</p>
                        <a class="ui item" href="/subclasses/{{tutorial.slug}}/Jogador/" target="blank">
                            <i class="linkify icon"></i> /subclasses/<b>{{tutorial.slug}}</b>/Jogador/
                        </a>
                        <div class="ui segment">
                            [ "Jogador", "Explorador", "Sobrevivente", "Empreendedor", "Conquistador", "Audaz",
                            "Estrategista", "Socializador" ]
                        </div>
                        <img class="ui image" src="https://overloadlab.com.br/pcomplex/static/doc/subclasses.png" />
                    </div>
                    <div class="item">
                        <div class="ui header">/tree</div>
                        <p>O endpoint <i>/tree</i> retorna um array com a árvore de uma classes</p>
                        <a class="ui item" href="/tree/{{tutorial.slug}}/Jogador/" target="blank">
                            <i class="linkify icon"></i> /tree/<b>{{tutorial.slug}}</b>/Jogador/
                        </a>
                        <div class="ui segment">
                            { Jogador: [ "Jogador", "Explorador", "Sobrevivente", "Empreendedor", "Conquistador",
                            "Audaz", "Estrategista",
                            "Socializador" ], Explorador: [ "Explorador" ], Sobrevivente: [ "Sobrevivente",
                            "Empreendedor", "Conquistador", "Audaz",
                            "Estrategista" ], Empreendedor: [ "Empreendedor", "Conquistador", "Audaz" ], Conquistador: [
                            "Conquistador", "Audaz" ],
                            Audaz: [ "Audaz" ], Estrategista: [ "Estrategista", "Conquistador", "Audaz" ], Socializador:
                            [ "Socializador" ] }
                        </div>
                        <img class="ui image" src="https://overloadlab.com.br/pcomplex/static/doc/tree.png" />
                    </div>
                    <div class="item">
                        <div class="ui header">/instances</div>
                        <p>O endpoint <i>/instances</i> retorna um array com as instâncias de uma classe específica</p>
                        <a class="ui item" href="/instances/{{tutorial.slug}}/Jogador/" target="blank">
                            <i class="linkify icon"></i> /instances/<b>{{tutorial.slug}}</b>/Jogador/
                        </a>
                        <div class="ui segment">
                            [
                            "ana",
                            "julia",
                            "marcos",
                            "mateus"
                            ]
                        </div>
                        <img class="ui image" src="https://overloadlab.com.br/pcomplex/static/doc/instances.png" />
                    </div>
                    <div class="item">
                        <div class="ui header">/instance</div>
                        <p>O endpoint <i>/instance</i> retorna um array com os <i>Types</i> e <i>Properties</i> de uma
                            instância específica</p>
                        <a class="ui item" href="/instance/{{tutorial.slug}}/julia/" target="blank">
                            <i class="linkify icon"></i> /instance/<b>{{tutorial.slug}}</b>/julia/
                        </a>
                        <div class="ui segment">
                            [ "Jogador", "Audaz", "Explorador", "Tem_habilidade Criatividade", "Tem_habilidade
                            Discernimento", "Tem_habilidade
                            Noções", "Tem_habilidade Raciocínio_lógico" ]
                        </div>
                        <img class="ui image" src="https://overloadlab.com.br/pcomplex/static/doc/instance.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    